.header__nav{
  padding: 0 80px;
}
.content{
  min-height: calc(100vh - 64px - 70px);

}



.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 1rem;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 15px;
}


.container-label{
  display: inline-block;
 margin-left: 20px;
}
